header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  align-items: end;
}
